@import url("https://fonts.googleapis.com/css2?family=Poppins");

.login-container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card-title-custom {
  border-bottom: 5px solid #ffffff;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bolder;
}
.auth-card-custom {
  border-radius: 34px;
  opacity: 1.5;
  margin-top: -18px;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  background-color: #111;
}

